@use './partials/variables';
@import 'bootstrap/scss/bootstrap';

$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';


body {
    font-family: 'Source Sans Pro', sans-serif;
  }

  .black-title {
    font-weight: bold;
    font-size:5.5rem;
    font-family: "Libre Baskerville", serif;
    .orange-dot {
        margin-left: -25px;
        color:$orange;
    }
}

.subtext {
  font-size:1.3rem;
  color:#555555;
  font-weight: 200;
}

.buttoncta {
  text-decoration: none;
  padding: 10px 50px;
  color:black;
  position:relative;
  display:inline-block;
  &:hover {
    color:black;
    
  }

  
}

.vwhite {
background-color: white;
}

.vorange {
background-color: $orange;
}

.arrow {
  display: inline-block;
  transition:0.3s;

}

.delimiter {
  width: 1px;
  background-color: black;
  height: 35px;
  display: inline-block;
  transition:0.3s;

}

.buttoncta:hover .delimiter {
  opacity: 0;
}

.buttoncta:hover .arrow {
  margin-left:-30px;
}

.orange-line {
  width: 80px;
  height: 2px;
  background-color: $orange;

}

main {
  background-color: #fafafa;
  height: fit-content;
}